<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orderingplatform">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SIGNUP"></activity>
        <activity android:name=".SIGNIN" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ORDER_TRACKING" />
        <activity android:name=".TRACK_ORDER_NUMBER" />
        <activity android:name=".NEW_ORDER_CONFIRM" />
        <activity android:name=".NEW_ORDER_CUSTOMER_DETAILS" />
        <activity android:name=".NEW_ORDER_PRODUCTS" />
        <activity android:name=".LOGIN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>